/* Ce code pourra être ajouté à la feuille de style commune */
.code {
	font-family: Monaco, monospace;
	font-size: 14px;
	color: #000;
	background-color: #fff;
}
blockquote {
	font-style:italic;
	font-size:1.2em;
}
blockquote cite {
	color:deepskyblue;
	font-style:normal;
}
q {
	font-style:italic;
}
blockquote p::before {
	content: "«";
}
blockquote p::after {
	content: "»";
}