@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli/Muli-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli/Muli-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli/Muli-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli/Muli-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

body {
	font-family: 'Muli', sans-serif;
}
h2, h1, h3 {
	font-family: 'Barriecito', sans-serif;
}